.history/**
grafanainflux/convertor/__pycache__/**
.vscode/**
__pycache__/**
influxconnector/__pycache__/**
convertor/__pycache__/**
influxconnector/filter/__pycache__/
test/influxconnector/filter/__pycache__/
test/influxconnector/__pycache__/
test/__pycache__/
build/**
dist/**
influxconnector.egg-info/**
test/influxconnector/convertor/__pycache__/*
influxconnector/convertor/ppmp/v2/__pycache__/*
.env
.pytest_cache/*
test/influxconnector/convertor/ppmp/v3/__pycache__/*
influxconnector/convertor/ppmp/v3/__pycache__/process.cpython-36.pyc
**/__pycache__/**
influxconnector.build/**
